body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.rocketitem img {

  width: 150px;
  height: 150px;
}

.rocketitem {
  position: relative;
  display: inline-block;
  padding:25px;
  margin-right: 25px;
  margin-left: 25px;
  margin-top: 25px;
  margin-bottom: 100px;
  width: 260px;
  background-color: whitesmoke;
  border: 2px dotted lightgrey;

}

/* .rocketitem:hover {
  background-color: whitesmoke;
  opacity: 0.8;
} */


.rocketitems {
  display: inline-flex;
}

.rocketimagedescription {
  left:50%;

}

.rocketimagedescription {
  color: black;
}

.rocketkiesbutton {
  bottom: 0%;
  width: 80px;
  height:20px;
}

.rocketdelete {
  position: absolute;
  right: -10px;
  top: -10px;
  width: 30px;
  height: 30px;
}

.rocketdelete:hover{
  filter: brightness(85%);
}

.rocketdelete img {
  width: 100%;
  height: 100%;
}

.empty-rocket-form {
  margin-top: 80px;
}

.empty-rocket-form-label {
  margin-top: 20px;
}

.empty-rocket-form-label input {
  margin-top: 20px;
}