.kaartje {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 61%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }
  
  .kaartje:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
  }